<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bir.ebook.mapper.Member_infoMapper">

   <resultMap id="MemberResult"  type="Member_infoVO">
  		<result property="email" column="email"/>
  		<result property="name" column="name"/>
  		<result property="pass" column="pass"/>
  		<result property="byear" column="byear"/>
  		<result property="bmonth" column="bmonth"/>
  		<result property="bday" column="bday"/>
   </resultMap>   
   
  <insert id="insertMember_info" parameterType="Member_infoVO">
  	insert into member_info values (#{email},#{name},#{pass},0,#{byear},#{bmonth},#{bday})
  </insert>

  <select id="checkLogin" resultMap="MemberResult" parameterType="Member_infoVO">
  	select email, name from member_info where email = #{email} and pass=#{pass} 
  </select>
 
	

</mapper>





